html,body {height:100%; width:100%}
body{background-color: black;}

.body{height:100%; width:100%}
.header{height: 15%; width: 95%; float: center; margin-left: auto; margin-right: auto}
.sidebar{height: 50%; width: 5%; position: fixed; display: block; background: linear-gradient(to right, white,#FFC6C8)}

.rainbow {
	background: linear-gradient(to right, red , orange, yellow, lime, #00BFFF);

	color: transparent;
  	-webkit-background-clip: text;
  	
  	font-size: 40pt;
  	font-family: "Oswald";
  	margin-right: 40px;
  	display: block;
  	position: relative;
  	z-index: 1;
  	opacity: 0.9;
}

.link{left: 1%; display: block; color: lime; font-size: 20pt}
.link:hover{color: #00BFFF; font-size: 30pt}

.download{color: lime; text-align: center;font-size: 30pt}
.download:hover{color: #00BFFF}

.ip:hover{color: #00BFFF}
